Welcome to Jim's Tic Tac Toe Game <br>
You will be playing X's, the computer will play O's <br>
Select whether to set the computer as an "Easy" or "Difficult" opponent in the check box below<br>

To play the game select a square, type an X and hit return. <br>

To let the computer go first click the button below

<br>
<br>
<br>
<br>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
        margin-left:20%; 
    margin-right:20%
    color: black;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    color: black;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
table, th, td {
    border: 1px solid black;
}
</style>

<% 
board_space1 = "<form method=""post"" action=""/play""><input type=""text"" name=""square1"" size=""1"">" 
board_space2 = "<form method=""post"" action=""/play""><input type=""text"" name=""square2"" size=""1"">"
board_space3 = "<form method=""post"" action=""/play""><input type=""text"" name=""square3"" size=""1"">"
board_space4 = "<form method=""post"" action=""/play""><input type=""text"" name=""square4"" size=""1"">"
board_space5 = "<form method=""post"" action=""/play""><input type=""text"" name=""square5"" size=""1"">"
board_space6 = "<form method=""post"" action=""/play""><input type=""text"" name=""square6"" size=""1"">"
board_space7 = "<form method=""post"" action=""/play""><input type=""text"" name=""square7"" size=""1"">"
board_space8 = "<form method=""post"" action=""/play""><input type=""text"" name=""square8"" size=""1"">"
board_space9 = "<form method=""post"" action=""/play""><input type=""text"" name=""square9"" size=""1"">"

 

%>

<table>

<tr>
    <td> 
        <%= board_space1 %>
    </td>

    <td> 
        <%= board_space2 %>
    </td>    
    
    <td> 
        <%= board_space3 %>
    </td> 
</tr>

<tr>
    <td> 
        <%= board_space4 %>
    </td>

    <td> 
        <%= board_space5 %>
    </td>    
    
    <td> 
        <%= board_space6 %>
    </td> 
</tr>

<tr>
    <td> 
        <%= board_space7 %>
    </td>

    <td> 
        <%= board_space8 %>
    </td>    
    
    <td> 
        <%= board_space9 %>
    </td> 
</tr>  

    
</table>

<form>
  <input type="checkbox" action="/play" name="opponent" value="Easy"> Easy<br>
  <input type="checkbox" action="/play" name="opponent" value="Difficult"> Difficult<br> 




<input type="submit" value="Click here to let the computer make the first play">
</form>
<html>
<body>



<script>
function goBack() {
    window.history.back();
}
</script>


</body>
</html> 