<br>
<h1>
  <%= a_winner %>
</h1>
<br>
<br>
<br>
<br>

<form>
<input type = "hidden" action="/play" name="opponent" value= <%= opponent%>>
</form>
<% 

opponent = opponent

board_space1 = "<form method=""post"" action=""/play""><input type=""text"" name=""square1"" size=""1"">" 
board_space2 = "<form method=""post"" action=""/play""><input type=""text"" name=""square2"" size=""1"">"
board_space3 = "<form method=""post"" action=""/play""><input type=""text"" name=""square3"" size=""1"">"
board_space4 = "<form method=""post"" action=""/play""><input type=""text"" name=""square4"" size=""1"">"
board_space5 = "<form method=""post"" action=""/play""><input type=""text"" name=""square5"" size=""1"">"
board_space6 = "<form method=""post"" action=""/play""><input type=""text"" name=""square6"" size=""1"">"
board_space7 = "<form method=""post"" action=""/play""><input type=""text"" name=""square7"" size=""1"">"
board_space8 = "<form method=""post"" action=""/play""><input type=""text"" name=""square8"" size=""1"">"
board_space9 = "<form method=""post"" action=""/play""><input type=""text"" name=""square9"" size=""1"">"

if square1.upcase == "X"
  board_space1 = square1.upcase
  board_space1a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square1"" value = ""X"">"
elsif square1.upcase == "O"
  board_space1 = square1.upcase
  board_space1a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square1"" value = ""O"">"    
end 


if square2.upcase == "X"
  board_space2 = square2.upcase
  board_space2a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square2"" value = ""X"">"
elsif square2.upcase == "O"
  board_space2 = square2.upcase
  board_space2a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square2"" value = ""O"">"    
end 

if square3.upcase == "X"
  board_space3 = square3.upcase
  board_space3a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square3"" value = ""X"">"
elsif square3.upcase == "O"
  board_space3 = square3.upcase
  board_space3a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square3"" value = ""O"">"    
end 

if square4.upcase == "X"
  board_space4 = square4.upcase
  board_space4a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square4"" value = ""X"">"
elsif square4.upcase == "O"
  board_space4 = square4.upcase
  board_space4a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square4"" value = ""O"">"    
end 

if square5.upcase == "X"
  board_space5 = square5.upcase
  board_space5a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square5"" value = ""X"">"
elsif square5.upcase == "O"
  board_space5 = square5.upcase
  board_space5a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square5"" value = ""O"">"    
end 

if square6.upcase == "X"
  board_space6 = square6.upcase
  board_space6a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square6"" value = ""X"">"
elsif square6.upcase == "O"
  board_space6 = square6.upcase
  board_space6a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square6"" value = ""O"">"    
end 

if square7.upcase == "X"
  board_space7 = square7.upcase
  board_space7a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square7"" value = ""X"">"
elsif square7.upcase == "O"
  board_space7 = square7.upcase
  board_space7a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square7"" value = ""O"">"    
end 

if square8.upcase == "X"
  board_space8 = square8.upcase
  board_space8a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square8"" value = ""X"">"
elsif square8.upcase == "O"
  board_space8 = square8.upcase
  board_space8a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square8"" value = ""O"">"    
end 

if square9.upcase == "X"
  board_space9 = square9.upcase
  board_space9a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square9"" value = ""X"">"
elsif square9.upcase == "O"
  board_space9 = square9.upcase
  board_space9a = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square9"" value = ""O"">"   
end 

 %>

<table>

<tr>
    <td> 
        <%= board_space1 %>
        <%= board_space1a %> 
        
    </td>

    <td> 
        <%= board_space2 %>
        <%= board_space2a %> 
        
    </td>    
    
    <td> 
        <%= board_space3 %>
        <%= board_space3a %> 
        
    </td> 
</tr>

<tr>
    <td> 
        <%= board_space4 %>
        <%= board_space4a %> 
        
    </td>

    <td> 
        <%= board_space5 %>
        <%= board_space5a %> 
        
    </td>    
    
    <td> 
        <%= board_space6 %>
        <%= board_space6a %>
        
    </td> 
</tr>

<tr>
    <td> 
        <%= board_space7 %>
        <%= board_space7a %>
        
    </td>

    <td> 
        <%= board_space8 %>
        <%= board_space8a %>
        
    </td>    
    
    <td> 
        <%= board_space9 %>
        <%= board_space9a %>
        
    </td> 
</tr>  

   
</table>

<input type = "hidden" action="/play" name="opponent" value= <%= opponent%>>
 <input type="submit" value="">

<html>
<body>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<br><br>
<input type="button" onclick="location.href='http://localhost:4567';" value="Click Here To Start a New Game" >


<script>
window.onload=getOrderDate('date');
</script>


</body>
</html> 