

<h1>Welcome to Jim's Tic Tac Toe Game </h1> 
<h2>You will be playing X's, the computer will play O's <br>
In default mode, the computer is an 'Easy' opponent.<br>
For a real challenge, set the computer to play as a "Difficult" opponent by clicking the check box below the playing board.<br>

Click an 'x' box where you wish to make a play. <br>

NOTE: You may make the first play or let the computer go first by clicking the button below </h2>

<br>
<!-- #the following lines define the forms that are disolayed in the table below -->
<% 
board_space1 = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square1"" value = """"><input type=""submit"" name=""square1"" value=""X"">" 
board_space2 = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square2"" value = """"><input type=""submit"" name=""square2"" value=""X"">"
board_space3 = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square3"" value = """"><input type=""submit"" name=""square3"" value=""X"">"
board_space4 = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square4"" value = """"><input type=""submit"" name=""square4"" value=""X"">"
board_space5 = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square5"" value = """"><input type=""submit"" name=""square5"" value=""X"">"
board_space6 = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square6"" value = """"><input type=""submit"" name=""square6"" value=""X"">"
board_space7 = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square7"" value = """"><input type=""submit"" name=""square7"" value=""X"">"
board_space8 = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square8"" value = """"><input type=""submit"" name=""square8"" value=""X"">"
board_space9 = "<form method=""post"" action=""/play""><input type=""hidden"" name=""square9"" value = """"><input type=""submit"" name=""square9"" value=""X"">"
%>

<table> <!-- Creates table to accept the plays -->

<tr>
    <td> 
        <%= board_space1 %>
    </td>

    <td> 
        <%= board_space2 %>
    </td>    
    
    <td> 
        <%= board_space3 %>
    </td> 
</tr>

<tr>
    <td> 
        <%= board_space4 %>
    </td>

    <td> 
        <%= board_space5 %>
    </td>    
    
    <td> 
        <%= board_space6 %>
    </td> 
</tr>

<tr>
    <td> 
        <%= board_space7 %>
    </td>

    <td> 
        <%= board_space8 %>
    </td>    
    
    <td> 
        <%= board_space9 %>
    </td> 
</tr>  

    
</table>
<h1>
<form> <!-- This forms sends "not chosen" unless one of the other two options are checked -->
 <!--    <input type = "hidden" action="/play" name="opponent" value= "not_chosen">  -->
    <input type="hidden" action="/play" name="opponent" value="Easy"> 
    <input type="checkbox" action="/play" name="opponent" value="Difficult"> Difficult<br> 
    <input type="submit" value="Click here to let the computer make the first play">
</form>
<br>
</h1>
 
<html>
<body>
<script src= "/js/getdate.js"> 
</script>
<p id="date"> </p>
<script>
    window.onload=getOrderDate('date');
</script>

</body>
</html> 